<div class="container">
  <h1>Planets</h1>
  <% @planets.each do |planet| %>
    <p>
      <%= link_to planet.name, planet_path(planet) %>
    </p>
  <% end %>
  <%= link_to 'Add planet', new_planet_path %>
</div>
